/src/__pycache__/gui.cpython-310.pyc
/src/__pycache__/gui.cpython-312.pyc
/src/__pycache__/history.cpython-310.pyc
/src/__pycache__/history.cpython-312.pyc
/src/__pycache__/transfer.cpython-310.pyc
/src/__pycache__/transfer.cpython-312.pyc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/LANCryptor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
